aws_region            = "eu-north-1"
availability_zone_a   = "eu-north-1a"
availability_zone_b   = "eu-north-1b"

vpc_cidr              = "10.0.0.0/16"
public_subnet_cidr    = "10.0.1.0/24"
private_subnet_a_cidr = "10.0.2.0/24"
private_subnet_b_cidr = "10.0.3.0/24"

my_ip                 = "YOUR.PUBLIC.IP/32"
app_port              = 5000
db_port               = 3306

key_name              = "your-key-namey"
public_key_path       = "C:/Users/YOUR_USER/.ssh/id_rsa.pub"

db_name               = "examready_db"
db_user               = "examready_user"
db_password           = "strong-password"
